{% extends 'index.html' %}

{% load static%}

{% block content%}


<!-- Services -->
<section class="services section-bg section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title style2 text-center">
                    <div class="section-top">
                        <h1><span>Services</span><b>Programming Languages</b></h1><h4>Be a Technical fellow with us</h4>
                    </div>
                    <div class="section-bottom">
                        <div class="text-style-two">
                            <p>TechnoServe Digital has the best trainers who trains you the from the basic to advance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:245px;" src="{% static 'technoweb/img/python_t.png'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-handshake-o"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Python</h4>
                        <p>Become a Python Expert & learn How to Apply Them in Real-world Applications.</p>
                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service"> 
                    <div class="service-head">
                        <img style="height:245px;" src="{% static 'technoweb/img/technoserve_java.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-html5"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Java</h4>
                        <p>This is one of the important language that you will from Basic to Advance.</p>
                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>

                        <!-- <a class="btn" href="service-develop.html"><i class="fa fa-arrow-circle-o-right"></i>View Service</a> -->
                    </div>
                </div> 
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:245px;" src="{% static 'technoweb/img/technoserve_android.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Android</h4>
                        <p>Play with the Android Apps which is developed by you.</p>

                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:245px; display:flex;" src="{% static 'technoweb/img/m365.png'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>M365</h4>
                        <p>Covers all critical components, including
                        Exchange Online, SharePoint Online, Teams, Intune, Azure AD,
                        and security & compliance measures.</p>

                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:245px; display:flex;" src="{% static 'technoweb/img/m365 Copilot.png'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>M365</h4>
                        <p>Conducted training sessions on utilizing M365 Copilot for efficient and enhanced productivity.
                            Usage of Loop Components in M365 Apps.
                        </p>

                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
        </div>




        <!-- Digital Marketing -->
        <div class="row" style="margin-top: 30px;">
            <div class="col-12">
                <div class="section-title style2 text-center">
                    <div class="section-top">
                        <h1><span>Services</span><b>Digital Marketing</b></h1><h4>Enhance your Digital Marketing Skill with us</h4>
                    </div>
                    <div class="section-bottom">
                        <div class="text-style-two">
                            <p>TechnoServe Digital has the best trainers who trains you the from the basic to advance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:245px;" src="{% static 'technoweb/img/technoservedigital_marketing.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-handshake-o"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Digital Marketing</h4>
                        <p>Digital Marketing helps you to grow the business online. It is in very high demand in market. So learn this skill with us to get more opportunties of your career.</p>
                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
        </div>


        <!-- Personality Development & English Speaking -->

        <div class="row" style="margin-top: 30px;">
            <div class="col-12">
                <div class="section-title style2 text-center">
                    <div class="section-top">
                        <h1><span>Services</span><b>Personality Development & English Speaking</b></h1><h4>Improve you communication with personality with us</h4>
                    </div>
                    <div class="section-bottom">
                        <div class="text-style-two">
                            <p>Improve your Skills with us “CLICK THE BELOW LINKS“</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:250px;" src="{% static 'technoweb/img/technoserve_personality_development.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-handshake-o"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Personality Development Programme</h4>
                        <p>Our Trainers will help you to improve your personality so that you can represent your high qualities in front of anyone.</p>
                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-12"> -->
                <!-- Single Service -->
                <!-- <div class="single-service">
                    <div class="service-head">
                        <img src="{% static 'technoweb/img/college.jpg'%}" alt="#">
                        <div class="icon-bg"><i class="fa fa-html5"></i></div>
                    </div>
                    <div class="service-content">
                        <h4><a href="service-develop.html">College/Institute Corner</a></h4>
                        <p>Supporting College/Institute for Quality Placements at Global Level.</p>
                        <!-- <a class="btn" href="service-develop.html"><i class="fa fa-arrow-circle-o-right"></i>View Service</a> -->
                    <!-- </div> -->
                <!-- </div>  -->
                <!--/ End Single Service -->
            <!-- </div> -->
            <div class="col-lg-6 col-md-4 col-12">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img style="height:250px;" src="{% static 'technoweb/img/technoserve_english_speaking.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>English Speaking</h4>
                        <p>Speaking English allows you to actually broaden your world, from job opportunities to the ability to relate to people from every country.</p>
                        <a class="btn" id="btn_background" href="{% url 'student_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
        </div>
    </div>
</section>
<!--/ End Services -->
{% endblock %}