{% extends 'index.html' %}
{% load static %}


{% block content %}

		<!-- Hero Slider -->
		<section class="hero-sliderstyle2" >
			
			<div class="home-slider">
				<!-- Single Slider -->
				<div data-aos="zoom-in" style="background-image:url('static/technoweb/img/online.jfif'); height: 600px;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="welcome-text" > 
									 <div class="hero-text" style="margin-top: 70px;" > 
										
										<h4>Online Education</h4>
										<div class="p-text">
											<p style="color:white; font-size:17px;">We are the only online skill based educational </p>
											<p style="color:white; font-size:17px;">firm supporting at global level placements</p>
											<p style="color:white; font-size:17px;">which provides complete courseware understanding,</p>
											<p style="color:white; font-size:17px;">Software applications development & Placements.</p>
											<!-- <p style="color:white; font-size:20px;">that provides complete understanding</p>
											<p style="color:white; font-size:20px;">of the courses we are offering.</p> -->
										</div>

										<div class="button" style="margin-top: 20px;">
											<a href="/#contact" class="bizwheel-btn theme-1 effect">Connect With us</a>
											<a href="/#contact" class="bizwheel-btn theme-2 effect">Ask any query</a>
										</div>
									 </div> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/ End Single Slider -->
				<!-- Single Slider -->
				<div  style="background-image:url('static/technoweb/img/sd.jpg'); height: 600px;">
					<div class="container">
						<!-- <div class="row">
							<div class="col-lg-7 col-md-8 col-12">
								<div class="welcome-text"> 
									<div class="hero-text"> 
										<h4>Your Vision</h4>
										<h1>Our Vision</h1>
										<div class="p-text">
											<p>To Get Talent Acquisition in your own cities with Handsome Packages.</p>
										</div>
										<div class="button">
											<a href="blog.html" class="bizwheel-btn theme-1 effect">Read our blog</a>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<!--/ End Single Slider -->
				
			</div>
		</section>
		<!--/ End Hero Slider -->
		
		<!-- Features Area -->
		<div id="about">
		<section class="features-area section-bg">
			
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-right">
						<!-- Single Feature -->
						<div class="single-feature active mission_height">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Our Mission</a></h4>
							<p style="text-align: justify;" >We Generate Highly Skilled Workforce 4.0 Globally by our specialized professional training in Python, Java, Android,  Website Development & Digital Marketing, Personality Development, English Speaking.</ptext-align: justify;>
							<!-- <div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div> -->
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-right">
						<!-- Single Feature -->
						<div class="single-feature active mission_height">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Our Vision</a></h4>
							<p style="text-align: justify;" >
								To Get talent Acquisition in your own cities with Handsome Packages in job profiles like Information Technology, Information Technology Enabled Services, BPO, Banking, Financial Services, Software Developers, HR.                                   </p>
							<!-- <div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div> -->
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-right">
						<!-- Single Feature -->
						<div class="single-feature active mission_height">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Our Values</a></h4>
							<p style="text-align: justify;" >We add values like Transparency, Honesty, Trust & Integrity, Quality, Continuous Learning to the society, stimulate their thinking towards productive efforts and serve our country India to maximize employment opportunities</p>
							<!-- <div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div> -->
						</div>
						<!--/ End Single Feature -->
					</div>
					<!-- <div class="col-lg-3 col-md-6 col-12"> -->
						<!-- Single Feature -->
						<!-- <div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">24/7 Live support</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper, velitsd odio scelerisque tod</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div> -->
						<!--/ End Single Feature -->
					<!-- </div> -->
				</div>
			</div>
		
		</section>
	</div>
	
		<!--/ End Features Area -->
		
		<!-- Call To Action -->
		<section class="call-action overlay" style="background-image:url('static/technoweb/img/slider5.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-12">
						<div class="call-inner">
							<h2>Promising Career for people who are Unemployable.</h2>
							<!-- <p>ehicula maximus velit. Morbi non tincidunt purus, a hendrerit nisi. Vivamus elementum</p> -->
						</div>
					</div>
					<div class="col-lg-3 col-12">
						<div class="button">
							<a href="/#contact" class="bizwheel-btn">Connect WIth us</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Services -->
		<section class="services section-bg section-space">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title style2 text-center">
							<div class="section-top">
								<h1><span>Services</span><b>Register with Us</b></h1><h4>Enter your information for easy reach out</h4>
							</div>
							<div class="section-bottom">
								<div class="text-style-two">
									<p>TechnoServe Digital fulfill the skill gaps and job opportunities globally. “CLICK THE BELOW LINKS“</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-4 col-12" data-aos="flip-left">
						<!-- Single Service -->
						<div class="single-service">
							<div class="service-head">
								<img src="{% static 'technoweb/img/sd.jpg'%}" alt="#">
								<div class="icon-bg"><i class="fa fa-handshake-o"></i></div>
							</div>
							<div class="service-content">
								<h4><a href="{% url 'student_corner' %}">Student Corner</a></h4>
								<p>Free Career Counselling to choose right career by Industry Experts.</p>
								<a class="btn " id="btn_background" href="{% url 'student_corner' %}" ><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
							</div>
						</div>
						<!--/ End Single Service -->
					</div>
					<!-- <div class="col-lg-4 col-md-4 col-12"> -->
						<!-- Single Service -->
						<!-- <div class="single-service">
							<div class="service-head">
								<img src="{% static 'technoweb/img/college.jpg'%}" alt="#">
								<div class="icon-bg"><i class="fa fa-html5"></i></div>
							</div>
							<div class="service-content">
								<h4><a href="service-develop.html">College/Institute Corner</a></h4>
								<p>Supporting College/Institute for Quality Placements at Global Level.</p>
								<!-- <a class="btn" href="service-develop.html"><i class="fa fa-arrow-circle-o-right"></i>View Service</a> -->
							<!-- </div> -->
						<!-- </div>  -->
						<!--/ End Single Service -->
					<!-- </div> -->
					<div class="col-lg-6 col-md-4 col-12" data-aos="flip-left">
						<!-- Single Service -->
						<div class="single-service">
							<div class="service-head">
								<img src="{% static 'technoweb/img/hr.jpg'%}" alt="#">
								<div class="icon-bg"><i class="fa fa-cube"></i></div>
							</div>
							<div class="service-content">
								<h4><a href="{% url 'hr_corner'%}">HR Corner</a></h4>
								<p>Free HR Guidance by Industry Experts to choose you right path.</p>
								<a class="btn " id ="btn_background" href="{% url 'hr_corner'%}"><i class="fa fa-arrow-circle-o-right"></i>Click Here to Register</a>
							</div>
						</div>
						<!--/ End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Services -->
		
		<!-- Portfolio -->
		<section class="portfolio section-space">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
						<div class="section-title default text-center">
							<div class="section-top">
								<h1><span>Works</span><b>Industries We Cover</b></h1>
							</div>
							<div class="section-bottom">
								<div class="text">
									<p>TechnoServe Digital understands that to help meet client challenges and opportunities successfully in a global economy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="portfolio-menu">
							<!-- Portfolio Nav -->
							<!-- <ul id="portfolio-nav" class="portfolio-nav tr-list list-inline cbp-l-filters-work">
								<li data-filter="*" class="cbp-filter-item active">All</li>
								<li data-filter=".animation" class="cbp-filter-item">Animation</li>
								<li data-filter=".branding" class="cbp-filter-item">Branding</li>
								<li data-filter=".business" class="cbp-filter-item">Business</li>
								<li data-filter=".consulting" class="cbp-filter-item">Consulting</li>
								<li data-filter=".marketing" class="cbp-filter-item">Marketing</li>
								<li data-filter=".seo" class="cbp-filter-item">SEO</li>
							</ul> -->
							<!--/ End Portfolio Nav -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="portfolio-main">
							<div id="portfolio-item" class="portfolio-item-active">
								<div class="cbp-item business animation">
									<!-- Single Portfolio -->
									<div data-aos="fade-up"
										data-aos-duration="3000">
									
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/banks.jfif'%}" alt="TechnoServeDigital India">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>Banking & Financial Services</h4>
											<p>Opportunities benefiting those who access to financial services</p>
										</div>
									</div>
								</div>
									<!--/ End Single Portfolio -->
								</div>

								<div class="cbp-item seo consulting">
									<!-- Single Portfolio -->
									<div data-aos="fade-up"
										data-aos-duration="3000">
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/itech.jpg'%}" alt="TechnoServeDigital India">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>Information Technology</h4>
											<p>Significant value by providing IT solutions across industry to give better solution.</p>
										</div>
										</div>
									</div>
									<!--/ End Single Portfolio -->
								</div>
								<div class="cbp-item marketing seo">
									<!-- Single Portfolio -->
									<div data-aos="fade-up"
										data-aos-duration="3000">
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/banks.jpg'%}" alt="TechnoServeDigital India">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>Sales and Marketing</h4>
											<p>Specialized capabilities to help clients face the challenges of today.</p>
										</div>
										</div>
									</div>
									<!--/ End Single Portfolio -->
								</div>
								<div class="cbp-item animation branding">
									<!-- Single Portfolio -->
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/technoservedital_humanresource.jpg'%}" alt="TechnoServeDigital India" class="pic_height">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>Human Resource</h4>
											<p>managing all matters related to employees who represent one of the most valuable resources.</p>
										</div>
									</div>
									<!--/ End Single Portfolio -->
								</div>
								<div class="cbp-item branding consulting">
									<!-- Single Portfolio -->
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/technoservedigital_marketing.jpg'%}" alt="TechnoServeDigital India" class="pic_height">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>Digital Marketing</h4>
											<p>Challenges in Digital world lead to need for new solutions & Strategy.</p>
										</div>
									</div>
									<!--/ End Single Portfolio -->
								</div>
		
								<div class="cbp-item business marketing">
									<!-- Single Portfolio -->
									<div class="single-portfolio">
										<div class="portfolio-head overlay">
											<img src="{% static 'technoweb/img/technoservedigital_fmcg.jpg'%}" alt="TechnoServeDigital India">
											<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
										</div>
										<div class="portfolio-content">
											<h4>FMCG</h4>
											<p >Supported by moderate inflation, increase in private consumption and rural income.</p>
										</div>
									</div>
									<!--/ End Single Portfolio -->
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Portfolio -->
		
		<!-- Testimonials -->
		<section class="testimonials section-space" style="background-image:url('static/technoweb/img/studentblur.png');  ">
			<div class="container" >
				<div class="row">
					<div class="col-lg-6 col-md-9 col-12">
						<div class="section-title default text-left">
							<div class="section-top" >
								<h1 ><b>Our Certified Students</b></h1>
							</div>
							<div class="section-bottom">
								<div class="text" ><p style="color: white;">Some of our students who get good opportunities.</p></div>
							</div>
						</div>
						<div class="testimonial-inner">
							<div class="testimonial-slider">
								<div data-aos="fade-right"
										data-aos-offset="300"
										data-aos-easing="ease-in-sine">

								<!-- Single Testimonial -->
								<div class="single-slider">
									<ul class="star-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<p>TechnoServe Digital provides detailed knowledge of each topics. It focuses on Practicals part that made each and every topic more clear to me.</p>
									<!-- Client Info -->
									<div class="t-info">
										<div class="t-left">
											<div class="client-head"><img src="{% static 'technoweb/img/shivanigupta.jfif'%}" alt="TechnoServeDigital India"></div>
											<h2>Shivani Gupta <span>Student</span></h2>
										</div>
										<div class="t-right">
											<div class="quote"><i class="fa fa-quote-right"></i></div>
										</div>
									</div>
								</div>
							</div>
								<!-- / End Single Testimonial -->
								<!-- Single Testimonial -->
								<div class="testimonial-slider">
									<div data-aos="fade-right"
											data-aos-offset="300"
											data-aos-easing="ease-in-sine">
								<div class="single-slider">
									<ul class="star-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<p>TechnoServe Digital is useful for those who are seeking to groom their programming skills and want to be ready for interviews.</p>
									<!-- Client Info -->
									<div class="t-info">
										<div class="t-left">
											<div class="client-head"><img src="{% static 'technoweb/img/shwetasingh.jpg'%}" alt="TechnoServeDigital India"></div>
											<h2>Shweta Singh<span>Student</span></h2>
										</div>
										<div class="t-right">
											<div class="quote"><i class="fa fa-quote-right"></i></div>
										</div>
									</div>
								</div>
								</div>
								<!-- / End Single Testimonial -->
								<!-- Single Testimonial -->
								<div class="single-slider">
									<ul class="star-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
									<p>
										TechnoServe Digital encourage to me enhance my logical skills through set of questions which are really brainstorming programming.</p>	
									<!-- Client Info -->
									<div class="t-info">
										<div class="t-left">
											<div class="client-head"><img src="https://via.placeholder.com/70x70" alt="TechnoServeDigital India"></div>
											<h2>Nikhit Gautam <span>Student</span></h2>
										</div>
										<div class="t-right">
											<div class="quote"><i class="fa fa-quote-right"></i></div>
										</div>
									</div>
								</div>
								<!-- / End Single Testimonial -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Testimonials -->
		
		<!-- Latest Blog -->
		<!-- <section class="latest-blog section-space">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
						<div class="section-title default text-center">
							<div class="section-top">
								<h1><span>Latest</span><b> Published</b></h1>
							</div>
							<div class="section-bottom">
								<div class="text">
									<p>Lorem Ipsum Dolor Sit Amet, Conse Ctetur Adipiscing Elit, Sed Do Eiusmod Tempor Ares Incididunt Utlabore. Dolore Magna Ones Baliqua</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="blog-latest blog-latest-slider">
							<div class="single-slider"> -->
								<!-- Single Blog -->
								<!-- <div class="single-news ">
									<div class="news-head overlay">
										<span class="news-img" style="background-image:url('https://via.placeholder.com/700x530')"></span>
										<a href="#" class="bizwheel-btn theme-2">Read more</a>
									</div>
									<div class="news-body">
										<div class="news-content">
											<h3 class="news-title"><a href="blog-single.html">We Provide you Best &amp; Creative Consulting Service</a></h3>
											<div class="news-text"><p>Sed tempus pulvinar augue ut euismod. Donec a nisi volutpat, dignissim mauris eget. Quisque vitae nunc sit amet eros pellentesque tempus at sit amet sem. Maecenas feugiat mauris</p></div>
											<ul class="news-meta">
												<li class="date"><i class="fa fa-calendar"></i>April 2020</li>
												<li class="view"><i class="fa fa-comments"></i>0</li>
											</ul>
										</div>
									</div>
								</div> -->
								<!--/ End Single Blog -->
							<!-- </div> -->
							<!-- <div class="single-slider"> -->
								<!-- Single Blog -->
								<!-- <div class="single-news ">
									<div class="news-head overlay">
										<span class="news-img" style="background-image:url('https://via.placeholder.com/700x530')"></span>
										<a href="#" class="bizwheel-btn theme-2">Read more</a>
									</div>
									<div class="news-body">
										<div class="news-content">
											<h3 class="news-title"><a href="blog-single.html">We Provide you Best &amp; Creative Consulting Service</a></h3>
											<div class="news-text"><p>Sed tempus pulvinar augue ut euismod. Donec a nisi volutpat, dignissim mauris eget. Quisque vitae nunc sit amet eros pellentesque tempus at sit amet sem. Maecenas feugiat mauris</p></div>
											<ul class="news-meta">
												<li class="date"><i class="fa fa-calendar"></i>April 2020</li>
												<li class="view"><i class="fa fa-comments"></i>0</li>
											</ul>
										</div>
									</div>
								</div> -->
								<!--/ End Single Blog -->
							<!-- </div>
							<div class="single-slider"> -->
								<!-- Single Blog -->
								<!-- <div class="single-news ">
									<div class="news-head overlay">
										<span class="news-img" style="background-image:url('https://via.placeholder.com/700x530')"></span>
										<a href="#" class="bizwheel-btn theme-2">Read more</a>
									</div>
									<div class="news-body">
										<div class="news-content">
											<h3 class="news-title"><a href="blog-single.html">We Provide you Best &amp; Creative Consulting Service</a></h3>
											<div class="news-text"><p>Sed tempus pulvinar augue ut euismod. Donec a nisi volutpat, dignissim mauris eget. Quisque vitae nunc sit amet eros pellentesque tempus at sit amet sem. Maecenas feugiat mauris</p></div>
											<ul class="news-meta">
												<li class="date"><i class="fa fa-calendar"></i>April 2020</li>
												<li class="view"><i class="fa fa-comments"></i>0</li>
											</ul>
										</div>
									</div>
								</div> -->
								<!--/ End Single Blog -->
							<!-- </div>
							<div class="single-slider"> -->
								<!-- Single Blog -->
								<!-- <div class="single-news ">
									<div class="news-head overlay">
										<span class="news-img" style="background-image:url('https://via.placeholder.com/700x530')"></span>
										<a href="#" class="bizwheel-btn theme-2">Read more</a>
									</div>
									<div class="news-body">
										<div class="news-content">
											<h3 class="news-title"><a href="blog-single.html">We Provide you Best &amp; Creative Consulting Service</a></h3>
											<div class="news-text"><p>Sed tempus pulvinar augue ut euismod. Donec a nisi volutpat, dignissim mauris eget. Quisque vitae nunc sit amet eros pellentesque tempus at sit amet sem. Maecenas feugiat mauris</p></div>
											<ul class="news-meta">
												<li class="date"><i class="fa fa-calendar"></i>April 2020</li>
												<li class="view"><i class="fa fa-comments"></i>0</li>
											</ul>
										</div>
									</div>
								</div> -->
								<!--/ End Single Blog -->
							<!-- </div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!--/ End Latest Blog -->
		
		<!-- Client Area -->
		<!-- <div class="clients section-bg">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="partner-slider"> -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-1.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-2.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-3.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-4.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-5.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
							<!-- Single client -->
							<!-- <div class="single-slider">
								<div class="single-client">
									<a href="#" target="_blank"><img src="{% static 'technoweb/img/client/client-6.png'%}" alt="#"></a>
								</div>
							</div> -->
							<!--/ End Single client -->
						<!-- </div>
					</div>
				</div>
			</div>
		</div> -->
		<!--/ End Client Area -->


		<!-- Contact Us -->
		<div id="contact">

		<section class="contact-us section-space">
			<p style="color: green;">
                            {% if success_msg %}
                                {{ success_msg }}
                            {% endif %}
                        </p>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-12">
						<!-- Contact Form -->
						<div class="contact-form-area m-top-30">
							<h4>Get In Touch</h4>
							<form  method="POST" action="/#contact" >
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<div class="icon"><i class="fa fa-user"></i></div>
											<input type="text" name="first_name" placeholder="First Name">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<div class="icon"><i class="fa fa-user"></i></div>
											<input type="text" name="last_name" placeholder="Last Name">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<div class="icon"><i class="fa fa-envelope"></i></div>
											<input type="email" name="email" placeholder="Email">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<div class="icon"><i class="fa fa-tag"></i></div>
											<input type="text" name="contact" placeholder="Mobile Number">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group textarea">
											<div class="icon"><i class="fa fa-pencil"></i></div>
											<textarea type="textarea" name="message" placeholder="Message" rows="5"></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group button">
											<button type="submit" class="bizwheel-btn theme-2">Send Now</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!--/ End contact Form -->
					</div>
					<div class="col-lg-5 col-md-5 col-12">
						<div class="contact-box-main m-top-30">
							<div class="contact-title">
								<h2>Contact with us</h2>
								<p>Let's Connect</p>
							</div>
							<!-- Single Contact -->
							<div class="single-contact-box">
								<div class="c-icon"><i class="fa fa-clock-o"></i></div>
								<div class="c-text">
									<h4>Opening Hour</h4>
									<p>Saturday - Sunday<br>10AM - 10PM (everyday)</p>
								</div>
							</div>
							<!--/ End Single Contact -->
							<!-- Single Contact -->
							<div class="single-contact-box">
								<div class="c-icon"><i class="fa fa-phone"></i></div>
								<div class="c-text">
									<h4>Call Us Now</h4>
									<p> Mob.: +91 9013800252</p>
								</div>
							</div>
							<!--/ End Single Contact -->
							<!-- Single Contact -->
							<div class="single-contact-box">
								<div class="c-icon"><i class="fa fa-envelope-o"></i></div>
								<div class="c-text">
									<h4>Email Us</h4>
									<p>technoservedigital@gmail.com</p>
								</div>
							</div>
							<!--/ End Single Contact -->
							<!-- <div class="button">
								<a href="#" class="bizwheel-btn theme-1">Our Works<i class="fa fa-angle-right"></i></a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		
		</section>	
	</div>
		<!--/ End Contact Us -->
		


{% endblock %}