

{% extends 'index.html' %}

{% load static%}

{% block content%}


<!-- Portfolio -->
<section class="portfolio section-space">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
				<div class="section-title default text-center">
					<div class="section-top">
						<h1><span>Development</span><b>Services We Provide</b></h1>
					</div>
					<div class="section-bottom">
						<div class="text">
							<p>TechnoServe Digital understands has team of developers who works for the client to provide best solutions at given deadline.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="portfolio-menu">
					<!-- Portfolio Nav -->
					<!-- <ul id="portfolio-nav" class="portfolio-nav tr-list list-inline cbp-l-filters-work">
						<li data-filter="*" class="cbp-filter-item active">All</li>
						<li data-filter=".animation" class="cbp-filter-item">Animation</li>
						<li data-filter=".branding" class="cbp-filter-item">Branding</li>
						<li data-filter=".business" class="cbp-filter-item">Business</li>
						<li data-filter=".consulting" class="cbp-filter-item">Consulting</li>
						<li data-filter=".marketing" class="cbp-filter-item">Marketing</li>
						<li data-filter=".seo" class="cbp-filter-item">SEO</li>
					</ul> -->
					<!--/ End Portfolio Nav -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="portfolio-main">
					<div id="portfolio-item" class="portfolio-item-active">
						<div class="cbp-item business animation">
							<!-- Single Portfolio -->
							<div class="single-portfolio">
								<div class="portfolio-head overlay">
									<img id="industry_img_height" src="{% static 'technoweb/img/technoservedigital_web_development.jpeg'%}" alt="TechnoServeDigital India">
									<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
								</div>
								<div class="portfolio-content">
									<h4>Website Development</h4>
									<p>TechnoServe Digital has team of developers who have expertise in building scalable websites.</p>
								</div>
							</div>
							<!--/ End Single Portfolio -->
						</div>
						<div class="cbp-item seo consulting">
							<!-- Single Portfolio -->
							<div class="single-portfolio">
								<div class="portfolio-head overlay">
									<img id="industry_img_height" src="{% static 'technoweb/img/technoservedigital_software_development.jpg'%}" alt="TechnoServeDigital India">
									<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
								</div>
								<div class="portfolio-content">
									<h4>Software Development</h4>
									<p>Our team will provide the best solution for you software that make it more user friendly.</p>
								</div>
							</div>
							<!--/ End Single Portfolio -->
						</div>
						<div class="cbp-item marketing seo">
							<!-- Single Portfolio -->
							<div class="single-portfolio">
								<div class="portfolio-head overlay">
									<img id="industry_img_height" src="{% static 'technoweb/img/technoservedigital_mobile_app.jpg'%}" alt="TechnoServeDigital India">
									<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
								</div>
								<div class="portfolio-content">
									<h4>Mobile App Development</h4>
									<p>
                                        Our Passionate mobile app developers provides more power and functionality to your app.</p>
								</div>
							</div>
							<!--/ End Single Portfolio -->
						</div>
						<div class="cbp-item animation branding">
							<!-- Single Portfolio -->
							<div class="single-portfolio">
								<div class="portfolio-head overlay">
									<img  id="industry_img_height" src="{% static 'technoweb/img/technoservedigital_ui_design.jpg'%}" alt="TechnoServeDigital India" class="pic_height">
									<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
								</div>
								<div class="portfolio-content">
									<h4>UI/UX Design</h4>
									<p>Our UI/UX designers will create the designs that will enhance your brand's promotion.</p>
								</div>
							</div>
							<!--/ End Single Portfolio -->
						</div>
						<div class="cbp-item branding consulting">
							<!-- Single Portfolio -->
							<div class="single-portfolio">
								<div class="portfolio-head overlay">
									<img id="industry_img_height" src="{% static 'technoweb/img/technoservedigital_marketing.jpg'%}" alt="TechnoServeDigital India" class="pic_height">
									<!-- <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a> -->
								</div>
								<div class="portfolio-content">
									<h4>Digital Marketing</h4>
									<p>Challenges in Digital world lead to need for new solutions & Strategy.</p>
								</div>
							</div>
							<!--/ End Single Portfolio -->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--/ End Portfolio -->


<!-- Work Demos -->

<section class="services section-bg section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title style2 text-center">
                    <div class="section-top">
                        <h1><span>Portfolio</span><b>Our Work</b></h1><h4>Some of our clients project</h4>
                    </div>
                    <div class="section-bottom">
                        <div class="text-style-two">
                            <p>TechnoServe Digital has provided best solution to the client.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12" data-aos="flip-left">
                <!-- Single Service -->
                <div class="single-service">
                    <div class="service-head">
                        <img id="portfolio_img_height" src="{% static 'technoweb/img/ecomriser.jpg'%}"  alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-handshake-o"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Ecom Riser</h4>
                        <!-- <p>It is the best digital marketing company that provides online reach to customers.</p> -->
                        <a class="btn " id="btn_background" href="https://ecomriser.com/" ><i class="fa fa-arrow-circle-o-right"></i>Click Here</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
       
            <div class="col-lg-3 col-md-4 col-12"   data-aos="flip-left">
                <!-- Single Service -->
                <div class="single-service" >
                    <div class="service-head">
                        <img id="portfolio_img_height" src="{% static 'technoweb/img/technoserve_ecomelevator.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Ecom Elevators</h4>
                        <!-- <p>Business Consultant that provides the .</p> -->
                        <a class="btn " id ="btn_background" href="https://ecomelevators.com/"><i class="fa fa-arrow-circle-o-right"></i>Click Here</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-3 col-md-4 col-12"   data-aos="flip-left">
                <!-- Single Service -->
                <div class="single-service" >
                    <div class="service-head">
                        <img id="portfolio_img_height" src="{% static 'technoweb/img/technoserve_kedianomics.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>KediaNomics</h4>
                        <!-- <p>Business Consultant that provides the .</p> -->
                        <a class="btn " id ="btn_background" href="https://www.kedianomics.com/"><i class="fa fa-arrow-circle-o-right"></i>Click Here</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
            <div class="col-lg-3 col-md-4 col-12"   data-aos="flip-left">
                <!-- Single Service -->
                <div class="single-service" >
                    <div class="service-head">
                        <img id="portfolio_img_height" src="{% static 'technoweb/img/technoserve_bhagwadgeeta.jpg'%}" alt="TechnoServeDigital India">
                        <div class="icon-bg"><i class="fa fa-cube"></i></div>
                    </div>
                    <div class="service-content">
                        <h4>Bhagawad Geeta</h4>
                        <!-- <p>Business Consultant that provides the .</p> -->
                        <a class="btn " id ="btn_background" href="https://www.bhagawadgeeta.com/"><i class="fa fa-arrow-circle-o-right"></i>Click Here</a>
                    </div>
                </div>
                <!--/ End Single Service -->
            </div>
         
        </div>
    </div>
</section>
<!--/ End Services -->




<!-- Contact For Project -->

<!-- Contact Us -->
<div id="contact">
    <section class="contact-us section-space">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-12">
                    <!-- Contact Form -->
                    <div class="contact-form-area m-top-30">
                        <h4>Let's talk about your requirements</h4>
                        <form  method="POST" action="{% url 'software_development' %}" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-user"></i></div>
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-mobile"></i></div>
                                        <input type="text" name="contact" placeholder="Contact Number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="form-group">
                                        <div class="icon"><i class="fa fa-skype"></i></div>
                                        <input type="text" name="skype_id" placeholder="Skype Id">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group textarea">
                                        <div class="icon"><i class="fa fa-pencil"></i></div>
                                        <textarea type="textarea" name="project_detail" placeholder="Project Details" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" class="bizwheel-btn theme-2">Send Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/ End contact Form -->
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="section-title default text-left">
                        <div class="section-top" style="margin-top: 30px;">
                            <h1 ><b>Our Clients Words</b></h1>
                        </div>
                        <div class="section-bottom">
                            <div class="text" ><p style="color: white;">Some of our students who get good opportunities.</p></div>
                        </div>

                    </div>
                    <div class="testimonial-inner" >
                        <div class="testimonial-slider">
                            <div data-aos="fade-right"
                                    data-aos-offset="300"
                                    data-aos-easing="ease-in-sine">

                            <!-- Single Testimonial -->
                            <div class="single-slider">
                                <ul class="star-list">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>I am really impressed by the quality of services I received from TechnoServe Digital. You were right on schedule, charged reasonable prices, were professional and courteous in dealings, and delivered items well before time. I have got a good e-commerce site for my products. My revenue has increased because of TechnoServe and I will definitely use your services again.</p>
                                <!-- Client Info -->
                                <div class="t-info">
                                    <div class="t-left">
                                        <!-- <div class="client-head"><img src="{% static 'technoweb/img/shivanigupta.jfif'%}" alt="#"></div> -->
                                        <h2>Shubham Mishra <span>Director</span></h2>
                                    </div>
                                    <div class="t-right">
                                        <div class="quote"><i class="fa fa-quote-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- / End Single Testimonial -->
                            <!-- Single Testimonial -->
                            <div class="testimonial-slider">
                                <div data-aos="fade-right"
                                        data-aos-offset="300"
                                        data-aos-easing="ease-in-sine">
                            <div class="single-slider">
                                <ul class="star-list">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>I wanted to take a moment to thank you for the services your team has provided. Your team has been a pleasure to work with, professional and timely. There is no delay in work that we have experienced and got delivered project at promised time. Job well done and I hope we can continue to grow together.</p>
                                <!-- Client Info -->
                                <div class="t-info">
                                    <div class="t-left">
                                        <!-- <div class="client-head"><img src="{% static 'technoweb/img/shwetasingh.jpg'%}" alt="#"></div> -->
                                        <h2>Saumya Singh<span>Business Consultant</span></h2>
                                    </div>
                                    <div class="t-right">
                                        <div class="quote"><i class="fa fa-quote-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- / End Single Testimonial -->
                            <!-- Single Testimonial -->
                            <div class="single-slider">
                                <ul class="star-list">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>
                                    TechnoServe Digital encourage to me enhance my logical skills through set of questions which are really brainstorming programming.</p>	
                                <!-- Client Info -->
                                <div class="t-info">
                                    <div class="t-left">
                                        <div class="client-head"><img src="https://via.placeholder.com/70x70" alt="TechnoServeDigital India"></div>
                                        <h2>Nikhit Gautam <span>Student</span></h2>
                                    </div>
                                    <div class="t-right">
                                        <div class="quote"><i class="fa fa-quote-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- / End Single Testimonial -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>	
</div>

{% endblock %}